<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MusicQueryService.QueryMusic" behaviorConfiguration="firstB1">
        <endpoint binding="webHttpBinding" contract="MusicQueryService.IQueryMusic" behaviorConfiguration="webHttp" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="firstB1">
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" httpGetUrl="true" />
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false" />                
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

<connectionStrings><add name="dbInfoMusicEntities" connectionString="metadata=res://*/DataSorange.MusicModel.csdl|res://*/DataSorange.MusicModel.ssdl|res://*/DataSorange.MusicModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-GOF9B4SA;initial catalog=dbInfoMusic;persist security info=True;user id=Morfeo;password=n7009567;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="dbInfoMusicEntities1" connectionString="metadata=res://*/DataSorange.MusicModel.csdl|res://*/DataSorange.MusicModel.ssdl|res://*/DataSorange.MusicModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-GOF9B4SA;initial catalog=dbInfoMusic;persist security info=True;user id=Morfeo;password=n7009567;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
